<script src="{{ root_url }}/javascripts/libs/jquery/jquery-2.0.3.min.js"></script>

<link href="{{ root_url }}/assets/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="{{ root_url }}/assets/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css">

<!-- fullPage.js -->

<link rel="stylesheet" type="text/css" href="{{ root_url }}/assets/fullpage_js/jquery.fullPage.css" />
<!-- This following line is needed in case of using the default easing option or when using another
 one rather than "linear" or "swing". You can also add the full jQuery UI instead of this file if you prefer -->
<script src="{{ root_url }}/assets/fullpage_js/vendors/jquery.easings.min.js"></script>


<!-- This following line needed in the case of using the plugin option `scrollOverflow:true` -->
<script type="text/javascript" src="{{ root_url }}/assets/fullpage_js/vendors/jquery.slimscroll.min.js"></script>

<script type="text/javascript" src="{{ root_url }}/assets/fullpage_js/jquery.fullPage.js"></script>

<!-- Google Fonts -->
<link href="http://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet" type="text/css">