---
layout: default
title: Blog
---




<div class="blog-index container with-top-margin">
  {% assign index = true %}
  {% for post in paginator.posts %}
  {% assign content = post.content %}
    <article>
      {% include index_post.html %}
    </article>
  {% endfor %}
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      {% if paginator.next_page %}
        <a class="prev" href="{{paginator.next_page_path}}">&larr; Older</a>
      {% endif %}
      {% if paginator.previous_page %}
      <a class="next pull-right" href="{{paginator.previous_page_path}}">Newer &rarr;</a>
      {% endif %}
      <br/>
      <div>
        <a class="centered-link" href="/blog/archives">Blog Archives</a>
      </div>
    </div>
  </div>
  <br/>
  <br/>
  <br/>
  {% include footer.html %}
</div>