/* nice sticky footer, from http://getbootstrap.com/examples/sticky-footer/ */
html, body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}
/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
footer[role=contentinfo] {
    height: 60px;
}

/* ------------- BOOTSTRAP OVERRIDE ------------------ */


@media (min-width: 768px){
    .navbar-nav{
        float:none;
        margin: 0 auto;
        display: table;
        table-layout: fixed;
    }
}

.navbar-brand {

}

.navbar-brand-centered {
  padding-left: 30px;
  text-align: center;
}

/* ----------------- TYPOGRAPHY ----------------------*/

p, a, nav, button {
  font-family: 'Lato', sans-serif;
}

p {
  font-size: 1.2em;
}

h1, h2, h3, h4, h5 {
  font-family: 'Lato', sans-serif;
  text-align: center;
}

.open-sans-condensed-font {
  font-family: 'Open Sans Condensed', sans-serif;
}

.satisfy-font {
  font-family: 'Satisfy', cursive;
}

.smaller-font {
  font-size: 0.9em;
}

.bigger-font {
  font-size: 1.2em;
}

.white {
  color: #FFFFFF;
}

.title {
  font-size: 5em;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

/* ------------- GENERAL STYLES ---------- */

.height-30 {
  height: 30%;
}

.height-70 {
  height: 70%;
}

.height-5 {
  height: 5%;
}

.height-95 {
  height: 95%;
}

/* ------------ HOMEPAGE ------------ */

.section {
  text-align:center;
}

#section1,
#section2,
#section3,
#section4 {
   background-size: cover;
}

#toTop {
  /* this will be used as a 'go back to top' */
  z-index: 10;
  position: fixed;
  right: 50px;
  bottom: 50px;
  display: none;
  padding: 10px;
}

#section1 {
  background-image: image-url("home/macbook.jpg");
  color: white;
  position: relative;
  h5 {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 30px;
  }
}

#section2 {
  /*background-image: image-url("home/wood.jpg");*/
}

#section3 {
  background-image: image-url("home/night-sky.jpg");
  color: white;
}

#section4 {
  background-image: image-url("home/sky.jpg");
  color: white;
  position: relative;

}

/* ------------- About Me ----------------*/

#about-top {
  background-image: image-url("about/dark-canvas-background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

#about-bottom {
  background-image: image-url("home/subtle-mosaic-pattern.png")
}

.by {
  margin-top: -140px;
}

.thumbnail-photo {
  display: block;
  width: 250px;
  height: 250px; 
  margin-right: auto;
  margin-left: auto;
}

.with-white-border {
  border: 1px solid white;
}

#resume-photo {
  background-image: image-url("home/resume-photo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul.inline-list li {
  display: inline-block;
}

/* ------- Blog ----------- */

/* -------- Work ----------- */

#footer-home {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: 30px;
}

/* --------- END OF HOMEPAGE --------- */

/* --------- BLOG -----------------*/

.with-top-margin {
  margin-top: 80px;
}

/* ---------- END OF BLOG --------- */

/* ----------- ABOUT ------------- */

#about-section {
  background-image: image-url("/images/about/dark-canvas-background.png");
  h1 {
    padding-top: 50px;
  }
}

#about-page-content {
  padding-bottom: 40px;
}

#about-photo {
  background-color: white;
}

.button-about {
  margin-bottom: 5px;
}

.button-about-sm {
  width: 100px;
}

.button-about-lg {
  width: 200px;
}

.description-about {
  font-size: 16px;
}

.element-hidden {
  display: none;
}

.element-visible {
  display: block;
}

.list-courses {
  text-align: left;
}

#about-photo {
  background-image: image-url("/images/home/resume-photo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#about-courses a {
  color: #FFFFFF;
}

/* --------- END OF ABOUT ----------- */

/* ---------- WORK --------------*/

#projects-section {
  background-image: image-url("/images/work/green.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
  h1 {
    padding-top: 50px;
  }
}

#projects-list {
  margin-bottom: 40px;
  li {
    margin-top: -3px;
    margin-left: 2px;
  }
}

.thumbnail-empty {
  background-color: rgba(0, 0, 0, 0.5)
}

#wdfs {
  background-image: image-url("/images/work/wdfs-thumbnail.png");
  background-repeat: no-repeat;
  background-size: cover;
}

#todo {
  background-image: image-url("/images/work/todo-thumbnail.png");
  background-repeat: no-repeat;
  background-size: cover;
}

#postit {
  background-image: image-url("/images/work/postit-thumbnail.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.thumbnail-description {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 2;
  display: none;
  position: relative;
  h3, p {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  }
  button {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 20px;
    width: 100px;
  }
  ul {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 80px;
  }
}

#project-expanded {
  z-index: 3;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

.transparent-button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  padding: 0;
}

.control {
  margin-left: 10px;
  margin-right: 10px;
}

#close-expanded {
  position: absolute;
  top: 60px;
  right: 20px;
}

.project-details {
  z-index: 4;
  width: 600px;
  height: 800px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -400px;
  margin-left: -300px;
  a {
    color: #FFFFFF;
  }
}

#wdfs-details {
  display: none;
}

#todo-details {
  display: none;
}

#postit-details {
  display: none;
}

.h5-no-margin {
  margin: 0;
  padding: 0;
}

/* ---------- Slideshow ----------- */

.my-slideshow {
  width: 600px;
  height: 600px;
  position: relative;

  overflow: hidden;
  list-style: none outside none;
  padding: 0;
  margin: 0;
  li {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
  }
  li:first-child {
    display: block;
  }
}
