/* nice sticky footer, from http://getbootstrap.com/examples/sticky-footer/ */
html, body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}
/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
footer[role=contentinfo] {
    height: 60px;
}

/* ------------- BOOTSTRAP OVERRIDE ------------------ */


@media (min-width: 768px){
    .navbar-nav{
        float:none;
        margin: 0 auto;
        display: table;
        table-layout: fixed;
    }
}

.navbar-brand {
  padding-left: 30px;
  text-align: center;
}

/* ----------------- TYPOGRAPHY ----------------------*/

p, a, nav {
  font-family: 'Lato', sans-serif;
}

p {
  font-size: 1.2em;
}

h1, h2, h3, h4 {
  font-family: 'Lato', sans-serif;
  text-align: center;
}

.open-sans-condensed-font {
  font-family: 'Open Sans Condensed', sans-serif;
}

.satisfy-font {
  font-family: 'Satisfy', cursive;
}

.smaller-font {
  font-size: 0.9em;
}

.bigger-font {
  font-size: 1.2em;
}

.white {
  color: #FFFFFF;
}

.title {
  font-size: 5em;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

/* ------------ HOMEPAGE ------------ */

.section {
  text-align:center;
}

#section1,
#section2,
#section3,
#section4 {
   background-size: cover;
}

#toTop {
  /* this will be used as a 'go back to top' */
  z-index: 10;
  position: fixed;
  right: 50px;
  bottom: 50px;
  display: none;
  padding: 10px;
}

#section1 {
  background-image: image-url("home/macbook.jpg");
  color: white;
  position: relative;
  h5 {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 30px;
  }
}

#section2 {
  /*background-image: image-url("home/wood.jpg");*/
}

#section3 {
  background-image: image-url("home/night-sky.jpg");
  color: white;
}

#section4 {
  background-image: image-url("home/sky.jpg");
  color: white;
  position: relative;

}

/* ------------- About Me ----------------*/

.height-30 {
  height: 30%;
  border-bottom: 1px solid grey;
}

.height-70 {
  height: 70%;
}

#about-top {
  background-image: image-url("home/wood.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#about-bottom {
}

.by {
  margin-top: -140px;
}

.thumbnail-photo {
  display: block;
  width: 250px;
  height: 250px;
  border: 3px solid grey;
  border-radius: 3px;  
  margin-right: auto;
  margin-left: auto;
}

#resume-photo {
  background-image: image-url("home/resume-photo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul li {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}

/* ------- Blog ----------- */

/* -------- Work ----------- */

#todo {
  background-color: #3FA8BF;
}

#postit {
  background-color: #95BF6B;
}

#footer-home {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: 30px;
}

/* --------- END OF HOMEPAGE --------- */

/* --------- BLOG -----------------*/

.with-top-margin {
  margin-top: 80px;
}